<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>List of Appliances</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <!--  -->
        </div>
        <div class="col-5">
            <h3>Name</h3>
        </div>
        <div class="col-1">
            <h3>Price</h3>
        </div>
        <div class="col-5">
            <h3>Description</h3>
        </div>
    </div>
    <div class="row" *ngFor="let item of filteredList">
        <div class="col-1">
            <p>{{filteredList.indexOf(item) + 1}}</p>
        </div>
        <div class="col-5">
            <p>{{item.name}}</p>
        </div>
        <div class="col-1">
            <p>{{item.price}}</p>
        </div>
        <div class="col-5">
            <p>{{item.desc}}</p>
        </div>
    </div>
</div>