<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Warehouse Items</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table border="1">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Price</th>
                </tr>
                <tr *ngFor="let item of items">
                    <td> {{ item.name }} </td>
                    <td> {{ item.category }} </td>
                    <td> {{ item.desc }} </td>
                    <td> {{ item.price | currency }} </td>
                </tr>
            </table>
        </div>
    </div>
</div>